<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My League Project</title>
    <link rel="stylesheet" href="mainpage.css">
</head>
<body>
    <form>
        <label for="search">Search:</label>
        <input id="search" type="text" name="search" placeholder="Search Champions">
        <button id="testbutton">Search</button>
    </form>

    <script src="mainpage.js"></script>
</body>
</html>